{% extends 'kitchentemplates/kitchenbase.html' %}
{% load static %}

{% block title %}
kitchen order list
{% endblock %}

{% block content %}

<div class="row ml-1">
    	<a href="{% url 'finalapp:kitchenorderlist' %}">All Orders List</a> |

		<a href="{% url 'finalapp:kitchenorderlist' %}?status=neworder">All New Orders</a> |
		<a href="{% url 'finalapp:kitchenorderlist' %}?status=preparedorder">Prepared Orders</a> |
		<a href="{% url 'finalapp:kitchenorderlist' %}?status=deliveredorder">Delivered Orders</a> |
	
</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Basket ID</th>
                        <th scope="col">Table</th>
                        <th scope="col">Total</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Order Time</th>
                        <th scope="col">Pay Method</th>
                    </tr>
                </thead>
                <tbody>
                	{% for order in allorders %}
                	<!-- <tr> -->
                    <tr class='clickable-row' data-href="{% url 'finalapp:kitchenorderdetail' order.id %}">
                        <td>{{order.id}}</td>
                        <td>{{order.basket.id}}</td>
                        <td>{{order.table}}</td>
                        <td>{{order.total}}</td>
                        <td>{{order.order_status}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.payment_method}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>			
		</div>
		
	</div>

{% endblock %}

{% block js %}

 <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).attr("data-href");
        });
    });
</script>

{% endblock %}