{% extends 'kitchentemplates/kitchenbase.html' %}
{% load static %}

{% block title %}
Kitchen Order Detail Page
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col ml-3">
			Order Detail of order id: "{{order.id}}"
			
			<table class="table" >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for basketitem in order.basket.basketitem_set.all %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{basketitem.item}}</td>
                        <td>{{basketitem.quantity}}</td>
                    </tr>
					{% endfor %}
                    <tr>
                    	<th scope="row" colspan="2">Order Status</th>
                    	<td style="text-transform: uppercase;">
                        <form action="#" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{form.order_status}}
                          <button type="submit" class="btn btn-success">Update</button>
                        </form>
                      </td>
                    </tr>
                </tbody>
            </table>


		</div>
		
	</div>


{% endblock %}