{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'kitchenstatic/css/bootstrap.min.css' %}">
    <header>
    	<a href="{% url 'finalapp:kitchenhome' %}">Kitchen Home</a> |
    	<a href="{% url 'finalapp:kitchenorderlist' %}">All Orders List</a> |
    	
    </header>

</head>

<body class="container-fluid">



    {% block content %}
    {% endblock %}
    


    <script src=" {% static 'clientstatic/js/jquery-2.2.3.min.js' %} "></script>

    {% block js %}
    {% endblock %}




</body>
</html>
