{% extends 'kitchentemplates/kitchenbase.html' %}
{% load static %}

{% block title %}
Kitchen HomePage
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-7" style="background-color: lightblue;">
        <h3>ALl NEw Orders</h3>
        <div class="row">
        	{% for order in neworders %}
            <div class="col-md-5 ml-1 mb-1" style="background-color: grey; border: 1px solid green;">
                
        		<!-- table1 -->
                    <h3 style="text-align: center;">Order ID: {{order.id}}</h3>
                    <h4 class="tittle-w3-agileits mb-4">{{order.table}}</h4>
                    <table class="table" >
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for basketitem in order.basket.basketitem_set.all %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{basketitem.item}}</td>
                                <td>{{basketitem.quantity}}</td>
                            </tr>
        					{% endfor %}
                            <tr>
                            	<th scope="row" colspan="2">Order Status</th>
                            	<td style="text-transform: uppercase;"><a href="{% url 'finalapp:kitchenorderdetail' order.id %} " class="text-dark">
                                {{order.order_status}}
                              </a></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-4 ml-1" style="background-color: lightgreen;">
        <h3>Prepared Orders</h3>
         <div class="row">

            {% for order in preporders %}
            <div class="col-md" style="background-color: grey; border: 1px solid green;">
                
                <!-- table1 -->
                    <h3 style="text-align: center;">Order ID: {{order.id}}</h3>
                    <h4 class="tittle-w3-agileits mb-4">{{order.table}}</h4>
                    <table class="table" >
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Item</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for basketitem in order.basket.basketitem_set.all %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{basketitem.item}}</td>
                                <td>{{basketitem.quantity}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row" colspan="2">Order Status</th>
                                <td style="text-transform: uppercase;"><a href="{% url 'finalapp:kitchenorderdetail' order.id %} " class="text-dark">
                                {{order.order_status}}
                            </a></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
        <!--// table1 -->

{% endblock %}

{% block js %}
<script type="text/javascript">
	window.setTimeout(function () {
	   window.location.reload()
	}, 5000); //

</script>

{% endblock %}