{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
led
{% endblock %}

{% block content %}


    <!-- main content start-->
    <div id="page-wrapper">
    <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href=" {% url 'proapp:clienthome' %} ">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Item Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

         <div class="py-lg-5 py-3 bg-pricemain text-center">
            <h3 class="agile-title text-uppercase">Your Hardware Interface</h3>
            <span class="w3-line"></span>
        </div>


         <div class="py-lg-5 py-3 bg-pricemain text-center">
            <h3 class="agile-title text-uppercase">Led Panel</h3>
            	<form method="POST">
            		{% csrf_token %}
            		<select name="led_switch">
                        <option value="default">====</option>
            			<option value="ledon">Led ON</option>
            			<option value="ledoff">Led OFF</option>
            		</select>
            		<button>Submit</button>
            	</form>
        </div>

         <div class="py-lg-5 py-3 bg-pricemain text-center">
            <h3 class="agile-title text-uppercase">Fan Panel</h3>
                <form method="POST">
                    {% csrf_token %}
                    <select name="led_switch">
                        <option value="fanon">Fan ON</option>
                        <option value="fanoff">Fan OFF</option>
                    </select>
                    <button>Submit</button>
                </form>
        </div>


{% endblock %}