{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %} Buzzer {% endblock %}

{% block content %}


<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'finalapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page"><a href="{% url 'finalapp:clienthardware' %}">Hardware</a></li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Buzzer </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

              <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">
                       <form method="POST">
                        {% csrf_token %}
                        <select name = "buzzer_switch">
                          <option value="buzzeron">Buzzer OFF</option>
                          <option value="buzzeroff">Buzzer ON</option>
                         
                        </select>
                        <button>Submit</button>
                      </form>
                    </h3>
                    <span class="w3-line"></span>
                </div>
                 
         
  

{% endblock %}
  
  