{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Pi Home Page
{% endblock %}


{% block content %}


<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'finalapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">All Items</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->


        <div class="row ml-5">
        	<div class="col-md-6">
        		<h4>Bulb Lights: </h4> <button class="ulink" data-href=" {% url 'finaleapp:pihome' %} ">On</button> <button class="ulink" data-href=" {% url 'finaleapp:piprogram1' %} ">Off</button>
        		<h4>AC/fan: </h4> <button class="ulink" data-href="">On</button> <button class="ulink" data-href="">Off</button>
        	</div>
        </div>

{% endblock %}

{% block js %}

	<script type="text/javascript">
		$(document).ready(function(){
			$('.ulink').on('click', function(){
				window.location.href = $(this).attr('data-href');
			})
		})
	</script>


{% endblock %}