{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Your Basket
{% endblock %}


{% block basket %}active{% endblock %}
{% block content %}





<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href=" {% url 'finalapp:clienthome' %} ">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Basket</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->
        <!-- items -->
       
        <section class="wthree-row services-bg" id="serv-bot">

                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    {% if request.user.is_authenticated %}
                    <h3 class="agile-title text-uppercase">Basket of {{request.user}}</h3>
                    {% else %}
                    <h3 class="agile-title text-uppercase">Your Basket</h3>
                    {% endif %}
                    <span class="w3-line"></span>
                </div>
                
                <button type="btn" href=" {% url 'finalapp:emptybasket' %} " id="empty-basket" class="ml-lg-3">Empty Basket</button>

                <p id="myp" class="ml-lg-3"></p>
                    <div class="row">
                        <div class="col-md" id="my-content">
                            <table class="table" id="my-table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Ordered Items</th>
                                        <th>Rate</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for basketitem in mainbasket.basketitem_set.all %}
                                    <tr>
                                        <td  style="text-align: center;">
                                            {{basketitem.item.name}}  
                                            <img src="{{basketitem.item.photo.url}}" alt="item" width="75">
                                        </td>
                                        <td>{{basketitem.rate}}</td>
                                        <td>
                                            <button type="btn" href="{% url 'finalapp:managebasket' basketitem.id 'dcr' %}" class="manage-basket">-</button>      {{basketitem.quantity}}      
                                            <button type="btn" href="{% url 'finalapp:managebasket' basketitem.id 'inr' %}" class="manage-basket">+</button>
                                            <button type="btn" href="{% url 'finalapp:managebasket' basketitem.id 'rmv' %}" class="manage-basket">x</button>
                                        </td>
                                        <td>{{basketitem.subtotal}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No Item exists in your basket <a href="{% url 'finalapp:clientitemlist' %}">Add to Basket Now</a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th></th>
                                        <th colspan="2" class="text-right">Total: </th>
                                        <th>{{mainbasket.total}}</th>
                                    </tr>
                                     <tr>
                                        {% if mainbasket.total.is_None %}
                                        <th></th>
                                        {% else %}
                                        <th></th>
                                        <th colspan="2" class="text-right"><button type="button" data-toggle="modal" data-target="#exampleModal22">Order Now</button></th>
                                        {% endif %}
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>

                        <!-- <div class="col-md-4"> -->
                            
                            <!-- <button type="button" data-toggle="modal" data-target="#exampleModal22">Order Now</button> -->
                        <!-- </div> -->
                    </div>
       </section>



       <div class="modal fade" id="exampleModal22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Order Once Placed Can't Be Modified Again</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="" >
                        <!-- <img src=" {% static 'clientstatic/images/modal.jpg' %} " alt="" class="img-fluid" /> -->
                        <!-- <h4 style="color: green;">Total Order Price: Rs.{{mainbasket.total}}</h4> -->
                        <form action="{% url 'finalapp:ordercreate' %}" method="post" class="p-3">
                            {% csrf_token %}
                            {{orderform.as_p}}
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Order">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block js %}


<!-- Script to increase decrease and remove basket-items -->
<script type="text/javascript">
    $(document).ready(function(){
        $(".manage-basket").on("click", function(){
            // alert("CLicked button")
            $("#my-content").on("click", ".manage-basket", function(){
            var url_end_point = $(this).attr("href");
            // alert(url_end_point)
            $.ajax({
                method: 'get',
                url: url_end_point,
                data: {

                },
                success: function(data){
                    $("#my-content").load("#my-content #my-table");
                    $('#myp').html(data).css("display", 'block');
                    $("#myp" ).click(function() {
                      $("#myp" ).fadeOut( "slow" );
                        });
            }
            })
        })
        })
    })
</script>

<!-- Script to Empty Basket -->
<script type="text/javascript">
    $(document).ready(function(){
        $("#empty-basket").on("click", function(){
            var empty_url = $(this).attr("href");
            $.ajax({
                method: 'get',
                url: empty_url,
                data: {

                },
                success: function(data){
                    $("#my-content").load("#my-content #my-table");
                    $('#myp').html(data).css("display", 'block');
                    $("#myp" ).click(function() {
                        $("#myp" ).fadeOut( "slow" );
                            }); 
                }
            });
        });
    });
</script>

{% endblock %}



