{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Home Page
{% endblock %}

{% block home %}active{% endblock %}
{% block content %}

	<!-- main content start-->
	<div id="page-wrapper">
		<div class="banner">
			<div class="banner_text_agile">
				<!-- Carousel -->
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> -->
				</div>
				<!-- Carousel -->
			</div>
		</div>
		<!-- //banner -->
		<!-- about -->
		<section class="wthree-row py-sm-5 py-3">
				<div class="py-lg-5 py-3 bg-pricemain text-center">
					<h3 class="agile-title text-uppercase">about us</h3>
					<span class="w3-line"></span>
				</div>
		</section>
		<!-- //about -->
		<!-- about-bottom -->
		{% for restro in restro %}
		<section class="wthree-row py-sm-5 py-3" id="ab-bot">
			<div class="row justify-content-center align-items-center no-gutters abbot-main">
				<div class="col-lg-6 p-0">
					<img src=" {{restro.profile_image.url}} " style="width: 100%; height: mx-auto;" class="img-fluid" alt="" />
				</div>
				<div class="col-lg-6 p-0 abbot-right">
					<div class="card">
						<div class="card-body px-sm-5 py-5 px-4">
							<h3 class="stat-title card-title align-self-center">{{restro.name}}</h3>
							<span class="w3-line"></span>
							<p class="card-text align-self-center my-3">
								{{restro.about}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endfor %}

		<!-- footer -->
		<div class="footer py-md-5 pt-sm-3 pb-sm-5">
			<div class="container">
				<div class="row p-sm-5 px-3 py-5">
					{% for office in restro %}
					<!-- footer grid top -->
					<div class="col-lg-8">
						<div class="footer-top">
							<h2>
								<a href=" {% url 'finalapp:clienthome' %} ">E-Menu
								</a>
							</h2>
							<p>
								Established: {{office.estb_date}}
							</p>
							<p>
								Address: {{office.address}}
							</p>
						</div>
						<!-- //footer grid top -->
						<!-- footer-bottom -->
						<div class="footer-bottom pt-5">
							<div class="row">
								<!-- footer grid1 -->
								<div class="col-sm-6 footv3-left">
									<h3 class="mb-3 w3f_title">Navigation</h3>
									<ul class="list-agileits">
										<li>
											<a href=" {% url 'finalapp:clienthome' %} ">
												Home
											</a>
										</li>
										<li class="my-3">
											<a href="about.html">
												About Us
											</a>
										</li>
									</ul>
								</div>
								<!-- //footer grid1 -->
	
								<!-- footer grid3 -->
								<div class="col-sm-6 footv3-left">
									<h3 class="w3f_title mb-3">New Releases</h3>
									<ul class="list-agileits">
										<li>
											<a href=" {% url 'finalapp:clienthome' %} ">
												Link One
											</a>
										</li>
										<li class="my-3">
											<a href="about.html">
												Link Two
											</a>
										</li>
									</ul>
								</div>
								<!-- //footer grid3 -->
							</div>
						</div>
						<!-- //footer bottom -->
					</div>
					<!-- //footer bottom -->
					<!-- footer right -->
					<div class="col-lg-4 mt-lg-0 mt-5">
						<h3 class="mb-3 w3f_title">Contact Us</h3>
						<div class="fv3-contact">
							<span class="fas fa-envelope-open mr-2"></span>
							<p>
								<a href="mailto:example@email.com">{{office.email}}</a>
							</p>
						</div>
						<div class="fv3-contact my-3">
							<span class="fas fa-phone-volume mr-2"></span>
							<p>{{office.phone}}</p>
						</div>
						<div class="footerv2-w3ls pt-4">
							<h3 class="w3f_title">Socialize with Us</h3>
							<ul class="social-iconsv2 agileinfo pt-3">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- //footer right -->
					{% endfor %}
				</div>
				<!-- //footer row -->
			</div>
			<!-- copyright -->
			<div class="cpy-right text-center pb-sm-0 pb-5">
				<p>© 2018 E-Menu. All rights reserved | Design by
					<a href="http://w3layouts.com"> Handsome</a>
				</p>
			</div>
			<!-- //copyright -->
			<!-- //footer container -->
		</div>
		<!-- //footer -->

{% endblock %}
