{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Ordering Page
{% endblock %}

{% block content %}



<!-- main content start-->
    <div id="page-wrapper">
         <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href=" {% url 'finalapp:clienthome' %} ">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">
                        	<a href=" {% url 'finalapp:clientbasket' %} ">Basket</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Order</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->
        <!-- items -->
       
        <section class="wthree-row services-bg" id="serv-bot">
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">Manage Your Order</h3>
                    <span class="w3-line"></span>
                </div>

                <div class="row">

                	<div class="col-md-8" >
		                <div class="py-lg-5 py-3 bg-pricemain text-center">
		                    {% if request.user.is_authenticated %}
		                    <h3>Basket of {{request.user}}</h3>
		                    {% else %}
		                    <h3>Your Basket</h3>
		                    {% endif %}
		                    <span class="w3-line"></span>
		                </div>
		                <button type="btn" href=" {% url 'finalapp:emptybasket' %} " id="empty-basket" class="ml-lg-3">Empty Basket</button>
		                <p id="myp" class="ml-lg-3"></p>
                        <div id="my-content">
                            <table class="table" id="my-table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Ordered Items</th>
                                        <th>Rate</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for basketitem in basket_obj.basketitem_set.all %}
                                    <tr>
                                        <td  style="text-align: center;">
                                            {{basketitem.item.name}}  
                                            <img src="{{basketitem.item.photo.url}}" alt="item" width="75">
                                        </td>
                                        <td>{{basketitem.rate}}</td>
                                        <td>
                                            <button type="btn" href="{% url 'finalapp:managebasket' basketitem.id 'dcr' %}" class="manage-basket">-</button>      {{basketitem.quantity}}      
                                            <button type="btn" href="{% url 'finalapp:managebasket' basketitem.id 'inr' %}" class="manage-basket">+</button>
                                            <button type="btn" href="{% url 'finalapp:managebasket' basketitem.id 'rmv' %}" class="manage-basket">x</button>
                                        </td>
                                        <td>{{basketitem.subtotal}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No Item exists in your basket <a href="{% url 'finalapp:clientitem' %}">Add to Basket Now</a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th></th>
                                        <th colspan="2" class="text-right">Total: </th>
                                        <th>{{basket_obj.total}}</th>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>

                    <div class="col-md-4">
						<div class="py-lg-5 py-3 bg-pricemain text-center">
							<h3 class="agile-title text-uppercase">Create Order Now</h3>
							<span class="w3-line"></span>
						</div>
						<form method="post">
							{% csrf_token %}							
							{{form.as_p}}
							<input type="submit" name="Order">
						</form>
                    </div>

                </div>
       </section>



{% endblock %}

{% block js %}


<!-- Script to increase decrease and remove basket-items -->
<script type="text/javascript">
    $(document).ready(function(){
        $(".manage-basket").on("click", function(){
            // alert("CLicked button")
            $("#my-content").on("click", ".manage-basket", function(){
            var url_end_point = $(this).attr("href");
            // alert(url_end_point)
            $.ajax({
                method: 'get',
                url: url_end_point,
                data: {

                },
                success: function(data){
                    $("#my-content").load("#my-content #my-table");
                    $('#myp').html(data).css("display", 'block');
                    $("#myp" ).click(function() {
                      $("#myp" ).fadeOut( "slow" );
                        });
            }
            })
        })
        })
    })
</script>

<!-- Script to Empty Basket -->
<script type="text/javascript">
    $(document).ready(function(){
        $("#empty-basket").on("click", function(){
            var empty_url = $(this).attr("href");
            $.ajax({
                method: 'get',
                url: empty_url,
                data: {

                },
                success: function(data){
                    $("#my-content").load("#my-content #my-table");
                    $('#myp').html(data).css("display", 'block');
                    $("#myp" ).click(function() {
                        $("#myp" ).fadeOut( "slow" );
                            }); 
                }
            });
        });
    });
</script>

{% endblock %}



