{% extends 'clienttemplates/clientbase.html' %}
{% load static %}


{% block title %}
Client Menu Detail Page
{% endblock %}

{% block menudetail %}active{% endblock %}

{% block content %}



    <!-- main content start-->
    <div id="page-wrapper">
    <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href=" {% url 'finalapp:clienthome' %} ">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">
                            <a href=" {% url 'finalapp:clientmenulist' %} ">Menu</a></li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">{{menuobject.title}}'s Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->
        <!-- items -->
       
        <div class="py-lg-5 py-3 bg-pricemain text-center">
            <h3 class="agile-title text-uppercase">Under the Menu of  '{{menuobject.title}}'</h3>
            <span class="w3-line"></span>
        </div>
          
        <div class="row">
            <!-- For Displaying Root Items Only -->
            {% for item in menuobject.item_set.all %}
            <div class="col-md-3">
                <img class="card-img-top" src="{{ item.photo.url }}" style=' width: 250; height: mx-auto;'>
                <div class="card-body bg-light text-center">
                    <h3><a href="">{{item.name}}</a></h3>
                    <h4>Price: Rs. {{item.price}}</h4>
                    <button data-href=" {% url 'finalapp:addtobasket' item.id %} " class="add-to-basket" type="btn btn-success" style="text-decoration: none; text-transform: uppercase; color: green;">Order Now</button>
                </div>
            </div>
            {% endfor %}
            <!-- End of Displaying Root Items Only -->
        </div>        

           




{% endblock %}