{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Search Result
{% endblock %}



{% block content %}

<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'finalapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Search Result: "{{request.GET.alias}}"</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->



			<div class="row">
			{% for search in allitems %}
				<div class="col-md-3">
					<img class="card-img-top" src="{{ search.photo.url }}" style=" width: 200; height: mx-auto;">
					<div class="card-body bg-light text-center">
					<h5 class="card-title ">{{ search.name }}</h5>
					<p class="card-text mb-3 ">Price: Rs.{{ search.price }}/-</p>
					 <button data-href=" {% url 'finalapp:addtobasket' search.id %} " class="add-to-basket" type="btn btn-success" style="text-decoration: none; text-transform: uppercase; color: green;">Order Now</button>
					</div>
				</div>
				<hr>
				{% empty %}
				<div class="col-md-3">
					<p class="card-text ml-4 ">No results found</p>
				</div>
			{% endfor %}
			</div>

			{% if allitems.has_other_pages %}
			<ul class="pagination">
				{% if allitems.has_previous %}
				<li class="page-item"><a class="page-link" href="?page={{ allitems.previous_page_number }}&alias={{request.GET.alias}}">Previous</a></li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
				{% endif %}
				{% for n in allitems.paginator.page_range %}
					{% if allitems.number == n %}
						<li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ n }}&alias={{request.GET.alias}}">{{n}}</a></li>
					{% endif %}
				{% endfor %}
				{% if allitems.has_next %}
			      <li class="page-item"><a class="page-link" href="?page={{ allitems.next_page_number}}&alias={{request.GET.alias}}">Next</a></li>
			    {% else %}
			      <li class="page-item disabled"><span class="page-link">Next</span></li>
			    {% endif %}
			</ul>
			{% endif %}

{% endblock %}