<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="E-Menu Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- Bootstrap Core CSS -->
	<link href=" {% static 'clientstatic/css/bootstrap.css' %} " rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href=" {% static 'clientstatic/css/style.css' %} " rel='stylesheet' type='text/css' />
	<!-- font-awesome icons -->
	<link href=" {% static 'clientstatic/css/fontawesome-all.min.css' %} " rel="stylesheet">
	<!-- //Custom Theme files -->

	<!-- side nav css file -->
	<link href=" {% static 'clientstatic/css/SidebarNav.min.css' %} " media='all' rel='stylesheet' type='text/css' />
	<!-- //side nav css file -->
	<!--webfonts-->

	<link rel="icon" href="https://s.ytimg.com/yts/img/favicon_96-vflW9Ec0w.png" sizes="96x96" >

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
  
  <link rel="stylesheet" href=" {% static 'clientstatic/js/jquery.toast.min.css' %} " >

	<!-- logo -->
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
	<!--//webfonts-->
</head>
<body class="cbp-spmenu-push">
	<div class="main-content">
		<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
			<!--left-fixed -navigation-->
			<aside class="sidebar-left"  style="overflow-y: scroll;">
				<h1>
					<a href=" {% url 'finalapp:clienthome' %} " class="logo">
						E-Menu
					</a>
				</h1>
				<ul class="sidebar-menu">
					<li class="treeview {% block home %}{% endblock %}">
						<a href=" {% url 'finalapp:clienthome' %} ">
							<i class="fas fa-home"></i>
							<span>Home</span>
						</a>
					</li>
					<li class="treeview {% block menulist %}{% endblock %}">
						<a href="#">
							<i class="fas fa-plus"></i>
							<span class="ulink" data-href=" {% url 'finalapp:clientmenulist' %} ">Menus</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							{% for cat in allmenus %}
							<li class="treeview">
								<a href="//facebook.com" >
									<i class="fas fa-plus"></i>
									<span class="ulink" data-href=" {% url 'finalapp:clientmenudetail' cat.id %} ">{{cat.title}}</span>
									<i class="fa fa-angle-left pull-right"></i>
								</a>
								<ul class="treeview-menu">
									{% for submenu in cat.menu_set.all %}
									<li class="ml-2" class="treeview">
										<a href=" {% url 'finalapp:clientmenudetail' submenu.id %} ">
											<i class="fas fa-info"></i>
											{{submenu.title}}
										</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</li>
					<li class="treeview {% block itemlist %} {% endblock %}">
						<a href=" {% url 'finalapp:clientitemlist' %} ">
							<i class="fab fa-buromobelexperte"></i>
							<span>All Items</span>
						</a>
					</li>
					
					<li class="treeview {% block basket %}{% endblock %}">
						<a href="{% url 'finalapp:clientbasket' %}">
							<i class="fas fa-address-book"></i>
							<span>Your Basket</span>
						</a>
					</li>
					<li class="treeview {% block orderlist %}{% endblock %}">
						<a href="{% url 'finalapp:orderlist' %}">
							<i class="fas fa-address-book"></i>
							<span>Your Order</span>
						</a>
					</li>
				<!-- 	<li class="treeview {% block clientpihome %}{% endblock %}">
						<a href="{% url 'finalapp:clientpihome' %}">
							<i class="fas fa-bus"></i>
							<span>Hardware</span>
						</a>
					</li> -->
					<!-- <li class="treeview">
						<a href=" {% url 'finalapp:clientpihome' %} ">
							<i class="fab fa-servicestack"></i>
							<span>Pi Home</span>
						</a>
					</li> -->
					<li class="treeview">
						<a href="{% url 'finalapp:clienthardware' %}">
							<i class="fab fa-servicestack"></i>
							<span>Hardwares</span>
						</a>
					</li>
				</ul>
				<!-- <span>Search Items</span> -->
				<!-- <form method="GET" action="/search/">
				  <input type="text" name="alias" placeholder="search..." value="{{request.GET.alias}}">
				  <button>Submit</button>
				</form> -->
				 {% if request.user.is_authenticated %}
					<button type="button" class="btn btn-info btn-lg btn-block mt-2 w3ls-btn p-1 text-uppercase font-weight-bold">
						<a  href=" {% url 'finalapp:clienthome' %} "  style="color: white;">
							<span>{{request.user.username}}</span></a>
					</button>
					<button type="button" class="btn btn-info btn-lg btn-block mt-1 w3ls-btn p-1 text-uppercase font-weight-bold">
						<a href="/signout/">
							<span>Logout</span>
						</a>
					</button>
				{% else %}
					<button type="button" class="btn btn-info btn-lg btn-block mt-5 w3ls-btn p-1 text-uppercase font-weight-bold" data-toggle="modal"
				    aria-pressed="false" data-target="#exampleModal">
					Login
				</button>
				{% endif %}
			</aside>
		</div>
	</div>
	<!--left-fixed -navigation-->




	<!-- header-starts -->
	<header class="header-section">
		<div class="header-left  clearfix">
			<!--logo start-->
			<div class="brand">
				<button id="showLeftPush">
					<i class="fas fa-bars"></i>
				</button>
			</div>
			<!--logo end-->
		</div>
		<div class="header-right">
		</div>
	</header>
	<!-- //header-ends -->



				{% block content %}
				{% endblock %}





		<!-- login and register modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Login</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img src=" {% static 'clientstatic/images/modal.jpg' %} " alt="" class="img-fluid" />
						<form action="{% url 'finalapp:tablelogin' %}" method="post" class="p-3">
							{% csrf_token %}
							<div class="form-group">
								{{signinform.as_p}}
							</div>
							<div class="right-w3l">
								<input type="submit" class="form-control" value="Login">
							</div>
							<div class="row sub-w3l my-3">
								<div class="col sub-agile">
									<input type="checkbox" id="brand1" value="">
									<label for="brand1" class="text-dark">
										<span></span>Remember me?</label>
								</div>
								<div class="col forgot-w3l text-right">
									<a href="#" class="text-dark">Forgot Password?</a>
								</div>
							</div>
							<p class="text-center dont-do">Don't have an account?
								<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark">
									Register Now</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel1">Register</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img src=" {% static 'clientstatic/images/modal.jpg' %} " alt="" class="img-fluid" />
						<form action="{% url 'finalapp:tablesignup' %}" method="post" enctype="multipart/form-data" class="p-3">
							{% if error %}
							<li class="text-danger">{{error}}</li>
							{% endif %}
							{% csrf_token %}
							{{signupform.as_p}}
							<!-- <div class="form-group">
								<label for="recipient-name" class="col-form-label">Username</label>
								<input type="text" class="form-control" placeholder=" " name="Name" id="recipient-rname" required="">
							</div>
							<div class="form-group">
								<label for="recipient-email" class="col-form-label">Email</label>
								<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
							</div>
							<div class="form-group">
								<label for="password1" class="col-form-label">Password</label>
								<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
							</div>
							<div class="form-group">
								<label for="password2" class="col-form-label">Confirm Password</label>
								<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
							</div> -->
							<!-- <div class="sub-w3l">
								<div class="sub-agile">
									<input type="checkbox" id="brand2" value="">
									<label for="brand2" class="mb-3 text-dark">
										<span></span>I Accept to the Terms & Conditions</label>
								</div>
							</div> -->
							<div class="right-w3l">
								<input type="submit" name="Login" class="btn btn-info">
								<!-- <input type="submit" class="form-control" value="Register"> -->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- //login and register modal -->
	</div>
	<!-- js-->
	<script src=" {% static 'clientstatic/js/jquery-2.2.3.min.js' %} "></script>
	<!-- js-->

	<script type="text/javascript">
		$(document).ready(function(){
			$('.ulink').on('click', function(){
				window.location.href = $(this).attr('data-href');
			})
		})
	</script>

	<!-- for toggle left push menu script -->
	<script src=" {% static 'clientstatic/js/classie.js' %} "></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};


		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!-- //Classie -->
	<!-- //for toggle left push menu script -->
	<!-- side nav js -->
	<script src=" {% static 'clientstatic/js/SidebarNav.min.js' %} "></script>
	<script>
		$('.sidebar-menu').SidebarNav()
	</script>
	<!-- //side nav js -->
	<!-- script for password match -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- script for password match -->
	<!-- start-smooth-scrolling -->
	<script src=" {% static 'clientstatic/js/move-top.js' %} "></script>
	<script src=" {% static 'clientstatic/js/easing.js' %} "></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll ").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			 var defaults = {
				 containerID: 'toTop', // fading element id
				 containerHoverID: 'toTopHover', // fading element hover id
				 scrollSpeed: 1200,
				 easingType: 'linear'
			 };
			 */

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script src=" {% static 'clientstatic/js/SmoothScroll.min.js' %} "></script>
	<!-- //smooth-scrolling-of-move-up -->
	<script src=" {% static 'clientstatic/js/counter.js' %} "></script>
	<!-- //stats -->

	<script type="text/javascript" src=" {% static 'clientstatic/js/jquery.toast.min.js' %} "></script>

	<!-- Bootstrap Core JavaScript -->
	<script src=" {% static 'clientstatic/js/bootstrap.js' %} ">
	</script>
	<!-- //Bootstrap Core JavaScript -->

	<!-- Client AddToBasket Json Request by using JQeury -->
	<script type="text/javascript">
		$(document).ready(function(){
			$(".add-to-basket").on("click", function(){
				var url_end_point = $(this).attr("data-href");
				$.ajax({
					method: 'get',
					url: url_end_point,
					data: {

					},
					success: function(data){
						$.toast({
              heading: 'Item Added Successfully',
              text: data.success,
              bgColor: 'green',
              position: 'top-right',
              showHideTransition: 'slide',
              icon: 'success'
          });
           $this.trigger("reset");
						// alert("item added to your basket")
					}

				})
			})
		})
	</script>

<script type="text/javascript">
   '{% if messages %}'
      '{% for message in messages %}'
         $.toast({
                 heading: 'News Flash',
                 text: '{{message}}',
                 bgColor: 'red',
                 position: 'top-right',
                 showHideTransition: 'slide',
                 icon: 'warning'
                });
      '{% endfor %}'
   '{% endif %}'
</script>


	{% block js %}
	{% endblock %}


</body>

</html>