{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}
Client Menu List page
{% endblock %}

{% block content %}
<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'finalapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href=" {% url 'finalapp:clientmenulist' %} ">Menu-List</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

  		<section class="wthree-row pt-md-5 pt-0">
            <div class="py-sm-5 pt-3 pb-4 bg-pricemain text-center">
                <h3 class="agile-title text-uppercase">All Menus</h3>
                <span class="w3-line"></span>
            </div>
             <div class="row">
                {% for menus in allmenus %}
                    <div class="col-md-3">
                        <img class="card-img-top" src=" {% static 'clientstatic/images/g9.jpg' %} " width="250" height="200">
                        <div class="card-body bg-light text-center">
                            <h5 class="card-title "><a href=" {% url 'finalapp:clientmenudetail' menus.id %} ">{{ menus.title }}</a></h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
                    
        </section>


{% endblock %}