{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %} Hardware {% endblock %}

{% block content %}


<!-- main content start-->
    <div id="page-wrapper">
        <!-- inner banner -->
        <div class="inner-banner">
        </div>
        <!-- //inner banner -->
        <!-- breadcrumbs -->
        <div class="inner-bc">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'finalapp:clienthome' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item active  text-capitalize" aria-current="page">Hardware form</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- //breadcrumbs -->

         
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase">Hardware form</h3>
                    <span class="w3-line"></span>
                </div>
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase"> <a href="{% url 'finalapp:clientled' %}">Led Interface 	<i class="fas fa-lightbulb"></i></a></h3>
                    <span class="w3-line"></span>
                </div>
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase"><a href="{% url 'finalapp:clientfan' %}">FAN Interface <i class="fas fa-asterisk"></i></a></h3>
                    <span class="w3-line"></span>
                </div>
                <div class="py-lg-5 py-3 bg-pricemain text-center">
                    <h3 class="agile-title text-uppercase"><a href="{% url 'finalapp:clientbuzzer' %}">BUZZER Interface <i class="fas fa-volume-up"></i></a></h3>
                    <span class="w3-line"></span>
                </div>




  
  
 
    
  
    

{% endblock %}
  
  