{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
	E-Menu-Table Login Page		
	</title>
	<!-- <link href=" {% static 'clientstatic/css/bootstrap.css' %} " rel='stylesheet' type='text/css' /> -->
</head>
<body class="container-fluid">

<div class="row">
	<div class="col-md-6 mx-auto">
		<h4>Table User Signin Form</h4><hr>
		<form method="post">
			{% if error %}
			<li class="text-danger">{{error}}</li>
			{% endif %}
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" name="Login" class="btn btn-info">		
		</form>	
	</div>
</div>

<div class="row">
	<br>
	Or, Create New Table User??
	<a href=" {% url 'finalapp:tablesignup' %} "><button>Click Here</button></a>
	
</div>





</body>
</html>