{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
	E-Menu-Table Login Page		
	</title>
</head>
<body class="container-fluid">

<div class="row">
	<div class="col-md-6 mx-auto">
		<h4>New Table User SignUp Form</h4><hr>
		<form method="post" enctype="multipart/form-data">
			{% if error %}
			<li class="text-danger">{{error}}</li>
			{% endif %}
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" name="Login" class="btn btn-info">		
		</form>	
	</div>
</div>

<div class="row">
	<br>
	Already a Table User??
	<a href=" {% url 'finalapp:tablelogin' %} ">Signin</a>
	
</div>

</body>
</html>