{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Staff Delete Page
{% endblock %}

{% block content %}

	
	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Staff Delete</h2>
	<!--// main-heading -->
	<form method="POST">
		{% csrf_token %}
		Staff ID = {{staff.id}}<br>
		Are you Sure to delete staff named "{{staff.name}}"?<br>
		<button class="btn btn-primary">yes</button>		
		<a href="/emenu/admin/staff/list/" class="btn btn-info">cancel</a>
	</form>



{% endblock %}