{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Staff List
{% endblock %}


{% block css %}

<!-- widgets Css -->
<link href=" {% static 'adminstatic/css/widgets.css' %} " rel="stylesheet">
<!-- widgets Css -->

{% endblock %}

{% block staff %}active{% endblock %}

{% block content %}

	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Manage Staffs</h2>
	<!--// main-heading -->

    <div style="text-align: right;" class="mr-2">
        <a href=" {% url 'finalapp:adminstaffcreate' %} " style="color: white;"><button class="btn btn-success"><i class="fas fa-plus"></i></button></a>
    </div>


	<!--// three-grids -->
    <div class="container-fluid">
        <div class="row">
        	{% for staff in allstaffs %}
            <!-- Profile -->
            <div class="outer-w3-agile col-xl-4 mt-3">
                <div class="profile-main-w3ls">
                    <div class="profile-pic wthree">
                        <img src="{{staff.photo.url}}" class="img-fluid" alt="Responsive image">
                        <h3>{{staff.name}}</h3>
                        <p>{{staff.position}}</p>
                    </div>
                    <div class="w3-message">
                        <a href=" {% url 'finalapp:adminstaffdetail' staff.id %} "><h5>About Me</h5></a>
                        <p>Mobile: {{staff.mobile}}</p>
                        <div class="w3ls-touch">

                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            <!--// Profiile -->
        </div>
    </div>


{% endblock %}


{% block js %}

    <script src=" {% static 'adminstatic/js/bootstrap.min.js' %} "></script>

{% endblock %}