{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Service Delete Page
{% endblock %}

{% block content %}

	
	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Service Delete</h2>
	<!--// main-heading -->
	<form method="POST">
		{% csrf_token %}
		Service ID = {{service.id}}<br>
		Are you Sure to delete service titled "{{service.title}}"?<br>
		<button class="btn btn-primary">yes</button>		
		<a href="/emenu/admin/service/list/" class="btn btn-info">cancel</a>
	</form>



{% endblock %}