{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Basket LIst Page
{% endblock %}

{% block basket %}active{% endblock %}

{% block content %}


	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Manage Baskets</h2>
	<!--// main-heading -->

	<!-- table2 -->
        <div class="outer-w3-agile mt-3">
            <h4 class="tittle-w3-agileits mb-4">List Of All Baskets</h4>
            <div>

            	<!-- Top Pagination Start -->
                {% if allbaskets.has_other_pages %}
                <ul class="pagination">
                    {% if allbaskets.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ allbaskets.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for n in allbaskets.paginator.page_range %}
                        {% if allbaskets.number == n %}
                            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if allbaskets.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ allbaskets.next_page_number}}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
                {% endif %}
                <!-- Top Pagination Ends -->

            </div>
            <div style="text-align: right;" class="mr-2">
	        </div>
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Basket ID</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Total</th>
                        <th scope="col">Order Time</th>
                        <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                	{% for basket in allbaskets %}
                	<!-- <tr> -->
                    <tr class='clickable-row' data-href="">
                        <td>{{basket.id}}</td>
                        <td>{{basket.table}}</td>
                        <td>{{basket.total}}</td>
                        <td>{{basket.created_at}}</td>
                        <td>
                        	<button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!--// table2 -->




         <!-- Button trigger modal -->
          <!--   <div class="d-flex justify-content-around mb-5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                   <i class="fas fa-trash-alt"></i>
                </button>
            </div> -->
            <!-- popup content -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="images/ban4.jpg" class="img-fluid" alt="Responsive image">
                            <p class="paragraph-agileits-w3layouts mt-3">Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque
                                nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--// popup content -->


{% endblock %}


{% block js %}

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".clickable-row").click(function() {
			window.location = $(this).attr("data-href");
		});
	});
</script>


{% endblock %}
