
{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Service Detail Page
{% endblock %}


{% block content %}


	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Detail of Service ID : "{{serviceobject.id}}"</h2>
	<!--// main-heading -->

    <div class="outer-w3-agile col-xl mt-3 mr-xl-3">
        <div class="form-group row">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Title:</label>
	        <div class="col-sm-10">
				<h4 style="text-transform: uppercase; font-size: 40px;">{{serviceobject.title}}</h4>
			</div>
		</div>
		<div class="form-group row mt-5">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Image:</label>
	        <div class="col-sm-10">
	        	<img src="{{serviceobject.image.url}}" alt="serviceobject" style="width: 75%; height: auto;">
			</div>
		</div>
		<div class="form-group row mt-5">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Content:</label>
	        <div class="col-sm-10">
	        	{{serviceobject.content}}
			</div>
		</div>
		<div class="form-group row mt-5">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Manage:</label>
	        <div class="col-sm-10">
	        	<button class="btn btn-success"><a href=" {% url 'finalapp:adminserviceupdate' serviceobject.id %} "><i class="fas fa-edit"></i></a></button>
	            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	               <i class="fas fa-trash-alt"></i>
	            </button>
			</div>
		</div>

		<!-- Button trigger modal -->
        
        <!-- popup content -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                	<form action="{% url 'finalapp:adminservicedelete' serviceobject.id %}" method="POST">
						{% csrf_token %}
						<div class="modal-header">
							Do You Really Want To Delete This Service?
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger">Delete</button>
							<a class="btn btn-secondary" href="" data-dismiss="modal">Cancel</a>
						</div>
					</form>
                </div>
            </div>
        </div>
        <!--// popup content -->


{% endblock %}