{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Staff Detail Page
{% endblock %}

{% block content %}
	


	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Detail of Staff ID : "{{staffobject.id}}"</h2>
	<!--// main-heading -->

    <div class="outer-w3-agile col-xl mt-3 mr-xl-3">
        <div class="form-group row">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Staff Name:</label>
	        <div class="col-sm-10">
				<h4 style="text-transform: uppercase; font-size: 40px;">{{staffobject.name}}</h4>
			</div>
		</div>
		<div class="form-group row mt-5">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Photo:</label>
	        <div class="col-sm-10">
				<img src="{{staffobject.photo.url}}" style="width: 25%; height: mx-auto;">
			</div>
		</div>
		<div class="form-group row mt-5">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Mobile No.:</label>
	        <div class="col-sm-10">
				{{staffobject.mobile}}
			</div>
		</div>
		<div class="form-group row mt-5">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Position:</label>
	        <div class="col-sm-10">
				{{staffobject.position}}
			</div>
		</div>

		<div class="form-group row mt-5">
	        <label for="inputEmail3" class="col-sm-2 col-form-label">Manage:</label>
	        <div class="col-sm-10">
	            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	               <i class="fas fa-trash-alt"></i>
	            </button>
			</div>
		</div>

		<!-- Button trigger modal -->
        
        <!-- popup content -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                	<form action="{% url 'finalapp:adminstaffdelete' staffobject.id %}" method="POST">
						{% csrf_token %}
						<div class="modal-header">
							Do You Really Want To Delete This Staff?
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger">Delete</button>
							<a class="btn btn-secondary" href="" data-dismiss="modal">Cancel</a>
						</div>
					</form>
                </div>
            </div>
        </div>
        <!--// popup content -->


{% endblock %}