{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Order Detail Page
{% endblock %}

{% block content %}

	

	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Detail of Order ID : "{{orderobject.id}}"</h2>
	<h2 class="main-title-w3layouts mb-2 text-center">Order By : "{{orderobject.table.name}}"</h2>
	<!--// main-heading -->
	
	<div class="col-lg-12 px-sm-5 px-3">
            <h4><span>Your Basket Order Detail</span></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        
                        <th>Ordered Item</th>
                        <th>Image</th>
                        <th>Subtotal(Rs.)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for basketitem in orderobject.basket.basketitem_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                       
                        <td>{{basketitem.item}}</td>
                        <td><img src="{{basketitem.item.photo.url}}" width="80"></td>
                        <td>{{basketitem.rate}}*{{basketitem.quantity}} = {{basketitem.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    
                    <tr>
                        <th colspan="3" class="text-right">Total: </th>
                        <th>Rs.{{orderobject.total}}</th>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-right">Payment Method:</th>
                        <th style="text-transform: uppercase;">{{orderobject.payment_method}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
	
	

   



{% endblock %}