{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
	Ecom-Staff Login Page		
	</title>
</head>
<body class="container-fluid">

<div class="row">
	<div class="col-md-6 mx-auto">
		<h4>Staff Signin Form</h4><hr>
		<form method="post">
			{% if error %}
			<li class="text-danger">{{error}}</li>
			{% endif %}
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" name="Login" class="btn btn-info">		
		</form>	
	</div>
</div>

<div class="row">
	<br>
	Or, Create New Customer??
	<a href="  "><button>Click Here</button></a>
	
</div>





</body>
</html>