{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Home Page
{% endblock %}

{% block content %}





            
            <!--// three-grids -->
            <div class="container-fluid">
                <div class="row">
                    {% for office in restro %}
                    <div class="outer-w3-agile col-xl mt-3">
                        <h4 class="tittle-w3-agileits mb-4">Restaurant Name: {{office.name}}</h4>
                        <!-- <h4 class="tittle-w3-agileits mb-4">About: {{office.about}}</h4> -->
                        <h4 class="tittle-w3-agileits mb-4">Phone: {{office.phone}}</h4>
                        <h4 class="tittle-w3-agileits mb-4">Address: {{office.address}}</h4>
                        <h4 class="tittle-w3-agileits mb-4"><img src="{{office.profile_image.url}}"></h4>

                    </div>
                    <div class="outer-w3-agile col-xl mt-3">
                        <h4 class="tittle-w3-agileits mb-4">Email: {{office.email}}</h4>
                        <h4 class="tittle-w3-agileits mb-4">Website: {{office.website}}</h4>

                    </div>
                    {% endfor %}
                    <!-- Calender -->
                    <!-- <div class="outer-w3-agile col-xl mt-3">
                        <h4 class="tittle-w3-agileits mb-4">Multi range Calender</h4>
                        <div class="multi-select-calender"></div>
                        <div class="box"></div>
                    </div> -->

                      <!--   <iframe src="http://nepalicalendar.rat32.com/embed/index.php" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; " allowtransparency="true"></iframe>
                        
                        <iframe src="http://nepalicalendar.rat32.com/clockwidget/nepali-clock-widget-vertical-blue.php" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" style="border:none; overflow:hidden; width:120px; height:265px;" allowtransparency="true"></iframe>
 -->
                    <!--// Calender -->

                 {% if request.user.is_authenticated %}
                    <!-- Profile -->
                    <div class="outer-w3-agile col-xl mt-3 mx-xl-3 p-xl-0 px-md-5">
                        <div class="header">
                            <div class="text">
                                <img src=" {{request.user.admin.photo.url}} " class="img-fluid rounded-circle" alt="Responsive image" style="width: 25%; height: mx-auto;">
                                <h2>{{request.user.admin.name}}</h2>
                                <a href="mailto:info@example.com">
                                    <p>{{request.user.admin.email}}</p>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="container-flud">
                            <div class="followers row">
                                <div class="f-left col">
                                    <a href="#">
                                        <i class="far fa-comments"></i>
                                    </a>
                                </div>
                                <div class="f-left col border-left border-right">
                                    <a href="#">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                                <div class="f-left col">
                                    <a href="#">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                       <!--  <ul class="prof-widgt-content">
                            <li class="menu">
                                <ul>
                                    <li class="button">
                                        <a href="#">
                                            <i class="fas fa-envelope"></i> Messages
                                            <span>13</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <ul class="icon-navigation">
                                            <li>
                                                <a href="#">Inbox
                                                    <span class="float-right">[09]</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">Outbox
                                                    <span class="float-right">[01]</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">Sent messages
                                                    <span class="float-right">[03]</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu">
                                <ul>
                                    <li class="button">
                                        <a href="#">
                                            <i class="fas fa-user"></i> Profile</a>
                                    </li>
                                    <li class="dropdown">
                                        <ul class="icon-navigation">
                                            <li>
                                                <a href="#">Change your pic</a>
                                            </li>
                                            <li>
                                                <a href="#">Change your username</a>
                                            </li>
                                            <li>
                                                <a href="#">About us</a>
                                            </li>
                                            <li>
                                                <a href="#">Contact me</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> -->
                    </div>
                    <!--// Profile -->
                    {% endif %}
                </div>
            </div>
            <!--// Three-grids -->
            <!-- Countdown -->
           <!--  <div class="outer-w3-agile mt-3 outer-w3-agile-bg">
                <h4 class="tittle-w3-agileits mb-4 text-white">Countdown Timer</h4>
                <div class="simply-countdown-custom" id="simply-countdown-custom"></div>
            </div> -->
            <!--// Countdown -->
           


{% endblock %}