{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Menu Delete Page
{% endblock %}

{% block content %}

	
	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Menu Delete</h2>
	<!--// main-heading -->
	<form method="POST">
		{% csrf_token %}
		Menu ID = {{menu.id}}<br>
		Are you Sure to delete menu titled "{{menu.title}}"?<br>
		<button class="btn btn-primary">yes</button>		
		<a href="/emenu/admin/menu/list/" class="btn btn-info">cancel</a>
	</form>



{% endblock %}