{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Service Page
{% endblock %}

{% block service %}active{% endblock %}

{% block content %}


		<!-- main-heading -->
		<h2 class="main-title-w3layouts mb-2 text-center">Manage Services</h2>
		<!--// main-heading -->


	 <!-- table2 -->
        <div class="outer-w3-agile mt-3">
            <h4 class="tittle-w3-agileits mb-4">List Of Services</h4>
            <div>
                {% if allservices.has_other_pages %}
                <ul class="pagination">
                    {% if allservices.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ allservices.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for n in allservices.paginator.page_range %}
                        {% if allservices.number == n %}
                            <li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if allservices.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ allservices.next_page_number}}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            <div style="text-align: right;" class="mr-2">
	            <a href=" {% url 'finalapp:adminservicecreate' %} " style="color: white;"><button class="btn btn-success"><i class="fas fa-plus"></i></button></a>
	        </div>
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Contents</th>
                        <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                	{% for service in allservices %}
                    <tr>
                    <!-- <tr class='clickable-row' data-href="{% url 'finalapp:adminservicedetail' service.id %}"> -->
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{service.title}}</td>
                        <td><img src="{{service.image.url}}" alt="service" width="100px" height="mx-auto"></td>
                        <td>{{service.content|truncatewords:"8"}}</td>
                        <td>
                        	<a href=" {% url 'finalapp:adminserviceupdate' service.id %} "><button class="btn btn-success"><i class="fas fa-edit"></i></button></a>
                        	<a href=" {% url 'finalapp:adminservicedelete' service.id %} "><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!--// table2 -->




         <!-- Button trigger modal -->
          <!--   <div class="d-flex justify-content-around mb-5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                   <i class="fas fa-trash-alt"></i>
                </button>
            </div> -->
            <!-- popup content -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="images/ban4.jpg" class="img-fluid" alt="Responsive image">
                            <p class="paragraph-agileits-w3layouts mt-3">Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque
                                nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--// popup content -->

{% endblock %}

{% block js %}

 <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).attr("data-href");
            });
        });
    </script>


{% endblock %}
