{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Item Update Page
{% endblock %}

{% block content %}

	
	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Update Item</h2>
	<!--// main-heading -->

	 <!-- Forms-1 -->
    <div class="outer-w3-agile col-xl mt-3 mr-xl-3">
        <form action="#" method="post" enctype="multipart/form-data">
        	{% csrf_token %}
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Title: </label>
                <div class="col-sm-10">
                    {{form.name}}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Menu Under: </label>
                <div class="col-sm-10">
                    {{form.menu}}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">SKU: </label>
                <div class="col-sm-10">
                    {{form.sku}}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                   {{form.photo}}
                </div>
            </div>
             <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                    {{form.price}}
                </div>
            </div>
             <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
             <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-danger"><a href="{% url 'finalapp:adminitemlist' %}">Cancel</a></button>
                </div>
            </div>
        </form>
    </div>
    <!--// Forms-1 -->


{% endblock  %}