{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Item Delete Page
{% endblock %}

{% block content %}

	
	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Item Delete</h2>
	<!--// main-heading -->
	<form method="POST">
		{% csrf_token %}
		Item ID = {{item.id}}<br>
		Are you Sure to delete item titled "{{item.name}}"?<br>
		<button class="btn btn-primary">yes</button>		
		<a href="/emenu/admin/item/list/" class="btn btn-info">cancel</a>
	</form>



{% endblock %}