{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Search Result
{% endblock %}



{% block content %}



			<div class="row">
			{% for search in allitems %}
				<div class="col-md-3">
					<a href=" {% url 'finalapp:adminitemdetail' search.id %} ">
					<img class="card-img-top" src="{{ search.photo.url }}" width="250" height="200">
					<div class="card-body bg-light text-center">
						<h5 class="card-title ">{{ search.name }}</h5>
						<p class="card-text mb-3 ">Price: Rs.{{ search.price }}/-</p>
					</div>
					</a>
				</div>
				<hr>
				{% empty %}
				<div class="col-md-3">
					<p class="card-text ml-4 ">No results found</p>
				</div>
			{% endfor %}
			</div>

			{% if allitems.has_other_pages %}
			<ul class="pagination">
				{% if allitems.has_previous %}
				<li class="page-item"><a class="page-link" href="?page={{ allitems.previous_page_number }}&alias={{request.GET.alias}}">Previous</a></li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
				{% endif %}
				{% for n in allitems.paginator.page_range %}
					{% if allitems.number == n %}
						<li class="page-item active"><span class="page-link">{{ n }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ n }}&alias={{request.GET.alias}}">{{n}}</a></li>
					{% endif %}
				{% endfor %}
				{% if allitems.has_next %}
			      <li class="page-item"><a class="page-link" href="?page={{ allitems.next_page_number}}&alias={{request.GET.alias}}">Next</a></li>
			    {% else %}
			      <li class="page-item disabled"><span class="page-link">Next</span></li>
			    {% endif %}
			</ul>
			{% endif %}

{% endblock %}