{% extends 'admintemplates/adminbase.html' %}
{% load static %}

{% block title %}
Admin Staff Signup Page
{% endblock %}

{% block content %}

	
	<!-- main-heading -->
	<h2 class="main-title-w3layouts mb-2 text-center">Staff Detail</h2>
	<!--// main-heading -->

	 <!-- Forms-1 -->
    <div class="outer-w3-agile col-xl mt-3 mr-xl-3">
        <form method="post" enctype="multipart/form-data">
        	{% csrf_token %}
            <div class="form-group row">User for Staff</div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    {{form.username}}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    {{form.email}}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    {{form.password}}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Password again</label>
                <div class="col-sm-10">
                    {{form.confirm_password}}
                </div>
            </div>
            <div class="form-group row">Staff Detail</div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    {{form.name}}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                   {{form.photo}}
                </div>
            </div>
             <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Mobile No.</label>
                <div class="col-sm-10">
                    {{form.mobile}}
                </div>
            </div>
             <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Position</label>
                <div class="col-sm-10">
                    {{form.position}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-danger"><a href="{% url 'finalapp:adminstafflist' %}">Cancel</a></button>
                </div>
            </div>

        </form>
    </div>
    <!--// Forms-1 -->


{% endblock  %}